<div class="offset-3 col-6 align-content-center text-center shadow container login-container">
  <h4 class="text-white">Do you have an account?</h4>
  <div>
    <button class="btn-info btn-primary mb-2"
            (click)="login()">Login
    </button>
  </div>
  <form class="mt-2" *ngIf="loginUser" [formGroup]="loginUserForm">
    <div class="form-group">
      <label>
        <input type="email"
               class="form-control"
               formControlName="email"
               aria-describedby="emailHelp"
               placeholder="Enter email">
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="password"
               class="form-control"
               formControlName="password"
               placeholder="Password">
      </label>
    </div>
    <button class="btn-primary rounded-circle"
            type="submit"
            (click)="loginRequest()">Go!
    </button>
  </form>
  <h6 class="text-white">Don't you have any account yet? What are you waiting for to create one?</h6>
  <div>
    <button class="btn-link"
            (click)="signUp()">Sign up
    </button>
  </div>
  <form class="mt-2" *ngIf="newUser" [formGroup]="newUserForm">
    <div class="form-group">
      <label>
        <input type="email" class="form-control"
               formControlName="email"
               aria-describedby="emailHelp"
               placeholder="Enter email">
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="password" class="form-control"
               (input)="onPasswordChange()"
               formControlName="password"
               placeholder="Password"
               [ngClass]="fuser.password.errors">
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="password" class="form-control"
               (input)="onPasswordChange()"
               formControlName="passwordConfirmation"
               placeholder="Confirm password"
               [ngClass]="fuser.passwordConfirmation.errors">
      </label>
    </div>
    <div class="text-danger" *ngIf="!passwordConfirm">Passwords isn't equals</div>
    <button class="btn-primary rounded-circle"
            type="submit"
            (click)="signUpRequest()">Go!
    </button>
  </form>
</div>

